.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__wrapper-imgs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-desktop {
    flex-wrap: wrap;
  }
}

.about__img {
  width: 348px;
  height: 590px;
  border-radius: $block-radius;
  overflow: hidden;
}
