.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__wrapper-imgs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-desktop {
    flex-wrap: wrap;
  }
}

.about__img {
  width: 348px;
  height: 590px;
  border-radius: $block-radius;
  overflow: hidden;

  @include media-tabl {
    width: 688px;

    background-color: aquamarine;
  }

  img {
    width: auto;
    height: inherit;
    // как сместить изображение внутри контейнера?
  }
}
