.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 40px;
}

.about__wrapper-imgs {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-desktop {
    // flex-direction: row;
    flex-wrap: wrap;
    height: 1060px;
  }
}

.about__img {
  width: 348px;
  height: 590px;
  border-radius: $block-radius;
  overflow: hidden;

  @include media-tabl {
    width: 688px;

    background-color: aquamarine;
  }

  @include media-desktop {
    width: 660px;
  }

  &--desktop {
    display: none;

    @include media-desktop {
      display: block;
      height: 430px;
      background-color: antiquewhite;
    }
  }

  img {
    display: block;
    width: auto;
    height: inherit;
    // как сместить изображение внутри контейнера?
  }
}
