.application {
  margin-bottom: 100px;
}

.application__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  @include media-tabl {
    gap: 100px;
  }

  @include media-desktop {
    flex-direction: row;
    align-items: center;
  }
}

.application__title {
  margin-bottom: 40px;
}

.application__text {
  margin-bottom: 40px;
}

.application__wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @include media-tabl {
    flex-direction: row;
  }
}

.application__btn {
  box-sizing: border-box;
  @include btn-reset;

  min-width: 200px;
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;

  padding: 11px 20px;

  border: 1px solid $color-line-invert;
  border-radius: $btn-radius;

  cursor: pointer;
  transition: background-color 0.7s ease-out;

  &--apple::before {
    @include bg-img(
      $url: url("../../img/icons/app-store.svg"),
      $mask-color: $color-bg-container-dark,
      $width: 36px,
      $height: 36px
    );
  }

   &--google::before {
    @include bg-img(
      $url: url("../../img/icons/google.svg"),
      $mask-color: $color-bg-container-dark,
      $width: 36px,
      $height: 36px
    );
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:hover {
    background-color: $color-bg-container;

    .app__text,
    .app__type {
      color: $color-bg;
    }
  }

  &:hover::before {
    background-color: $color-bg;
  }

  &:active {
    background-color: $color-bg-container-60;
  }
}

.application__wrapper-img {
  width: 100%;
  width: clamp(348px, 100%, 630px);

  height: auto;
  margin: 0 auto;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
