.application {
  margin-bottom: 100px;
}

.application__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  @include media-tabl {
    gap: 100px;
  }

    @include media-desktop {
      flex-direction: row;
  align-items: center;

    }
}

.application__title {
  margin-bottom: 40px;
}

.application__text {
  margin-bottom: 40px;
}

.application__wrapper-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;

  @include media-tabl {
    flex-direction: row;
  }
}

.application__btn {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;

  padding: 12px 20px;

  @include btn-reset;
  border: 1px solid $color-line-invert;
  border-radius: $btn-radius;


  cursor: pointer;
  transition: background-color 0.7s ease-out;
  
  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:hover {
    background-color: $color-bg-container;
  }

  &:active {
    background-color: $color-bg-container-60;
  }
}

.application__wrapper-img {
  width: 100%;
  height: auto;
  background-color: beige;

  img {
    width: 100%;
    height: auto;
  }
}
