.footer {
  margin-bottom: 40px;
}

.footer__container {
  padding: 60px 16px 44px 16px;
  background-color: $color-bg-container;
  border-radius: $block-radius;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-tabl {
    padding: 100px 60px;
    gap: 100px;
  }

  @include media-desktop {
    padding: 100px;
    flex-direction: row;
    align-items: center;
  }
}

.footer__title {
  margin-bottom: 40px;
}

.footer__socials {
  @include list-reset;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.footer__social-link {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 1px solid $color-line;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    border-color 0.7s ease-out,
    background-color 0.7s ease-out;

  &--twitter::after {
    @include bg-img(
      $url: url("../../img/icons/twitter.svg"),
      $mask-color: $color-bg,
      $width: 18px,
      $height: 18px
    );
  }

  &--facebook::after {
    @include bg-img(
      $url: url("../../img/icons/facebook.svg"),
      $mask-color: $color-bg,
      $width: 18px,
      $height: 18px
    );
  }

  &--instagram::after {
    @include bg-img(
      $url: url("../../img/icons/instagram.svg"),
      $mask-color: $color-bg,
      $width: 18px,
      $height: 18px
    );
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($bg-color: $color-bg);
  }

  &:hover {
    background-color: $color-bg;
    border-color: $color-bg;
  }

  &:hover::after {
    background-color: $color-bg-container-dark;
  }

  &:active {
    background-color: $color-invert-80;
  }
}

.footer__contacts {
  color: $color-invert;
  margin-bottom: 40px;
}

.footer__contact {
  color: $color-invert;
  margin-bottom: 16px;

  display: flex;
  align-items: baseline;
  gap: 8px;
}

.footer__contact--tel {
  width: fit-content;
  text-decoration: none;

  transition: color 0.7s ease-out;

  position: relative;

  &::before {
    @include hover-line;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.7s ease-out;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:hover::before {
    transform: scaleX(1);
  }

  &:active {
    opacity: 0.7;
  }
}
