.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: block;
  transition: transform 0.7s ease-out;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($outline: 0);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    background-color: $color-bg-container-60;
  }
}

.header__nav {
  display: none;

  @include media-desktop {
    @include list-reset;

    display: block;
  }
}

.header__list {
  @include media-desktop {
    @include list-reset;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
  }
}

.header__wrapper-btns {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media-tabl {
    gap: 24px;
  }

  @include media-desktop {
    margin-left: 44px;
  }
}

.header__topic {
  padding: 2px;
  border: 1px solid $color-line;
  border-radius: $btn-radius;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__btn {
  @include btn-reset;

  width: 44px;
  height: 44px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  cursor: pointer;
  transition: background-color 0.7s ease-out;

  &--light {
    background-color: $color-accent;

    &::after {
      @include bg-img(
        $url: url("../../img/icons/sun.svg"),
        $mask-color: $color-bg,
        $width: 22px,
        $height: 22px
      );
    }
  }

  &--dark {
    background-color: transparent;

    &::after {
      @include bg-img(
        $url: url("../../img/icons/moon.svg"),
        $mask-color: $color-bg-container-dark,
        $width: 22px,
        $height: 22px
      );
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($outline: 0);
  }

  &:hover {
    background-color: $color-bg-container;
  }

  &:active {
    background-color: $color-bg-container-60;
  }
}

.header__btn--dark:hover::after {
      background-color: $color-bg;

}

.header__burger {
  box-sizing: border-box;
  @include btn-reset;
  @include font($size: 10px, $line-height: 140%, $weight: 600);
  text-decoration: none;

  width: 44px;
  height: 44px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  gap: 4px;

  border: 1px solid $color-line-invert;
  border-radius: 100%;

  background-color: transparent;

  cursor: pointer;
  transition: border-color 0.7s ease-out;

  @include media-desktop {
    display: none;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background-color: $color-bg-container-dark;
    border-radius: 6px;

    transition: all 0.7s ease-out;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($bg-color: $color-accent, $outline: 2px);
  }

  &:hover {
    border-color: $color-accent;
  }

  &:hover::after,
  &:hover::before {
    background-color: $color-accent;
  }

  &:active {
    border-color: $color-accent-50;
  }

  &:active::after,
  &:active::before {
    background-color: $color-accent-50;
  }
}

.header__burger--closer::before {
  transform: translateY(5px) rotate(45deg);
}

.header__burger--closer::after {
  transform: translateY(-5px) rotate(-45deg);
}

.header__menu {
  display: none;
  text-decoration: none;
  transition:
    background-color 0.7s ease-out,
    color 0.7s ease-out;

  @include media-desktop {
    display: block;
    position: relative;

    &::after {
      @include hover-line;
      transition:
        background-color 0.7s ease-out,
        transform 0.7s ease-out;
      transform: scale(0);
    }

    &--active {
      &::after {
        @include hover-line;
        transform: scale(1);
      }
    }
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($bg-color: $color-accent, $outline: 4px);
  }

  &:hover {
    border-color: $color-accent;
    color: $color-accent;
  }

  &:hover::after {
    background-color: $color-accent;
    transform: scale(1);
  }

  &:active {
    border-color: $color-accent-50;
    color: $color-accent-50;
  }

  &:active::after {
    background-color: $color-accent-50;
  }
}

.header__menu--active:hover::after {
  transform: scale(0);
}
