.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: none;

  @include media-desktop {
    @include list-reset;

    display: block;
     }
}

.header__list {
   @include media-desktop {
    @include list-reset;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
  }
}

.header__wrapper-btns {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media-tabl {
    gap: 24px;
  }

     @include media-desktop {
    margin-left: 44px;
    }
}

.header__topic {
  padding: 2px;
  border: 1px solid $color-line;
  border-radius: $btn-radius;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__btn {
  width: 44px;
  height: 44px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  background-color: transparent;

  &--light {
    background-color: $color-accent;
  }
}

.header__burger {
  width: 44px;
  height: 44px;
  border: 1px solid $color-line-invert;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  background-color: transparent;
}
