.header {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: none;

  @include media-desktop {
    @include list-reset;

    display: block;
  }
}

.header__list {
  @include media-desktop {
    @include list-reset;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: auto;
  }
}

.header__wrapper-btns {
  display: flex;
  align-items: center;
  gap: 12px;

  @include media-tabl {
    gap: 24px;
  }

  @include media-desktop {
    margin-left: 44px;
  }
}

.header__topic {
  padding: 2px;
  border: 1px solid $color-line;
  border-radius: $btn-radius;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.header__btn {
  width: 44px;
  height: 44px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

  background-color: transparent;

  &--light {
    background-color: $color-accent;
  }
}

.header__burger {
  @include btn-reset;
  @include font($size: 10px, $line-height: 140%, $weight: 600);
  text-decoration: none;

  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  border: 1px solid $color-line-invert;
  border-radius: 100%;

  background-color: transparent;

 &--active {
      background-color: red;
    }

  @include media-desktop {
    border: none;
    gap: 8px;
    border-radius: 0;
    width: inherit;
    height: inherit;
    align-items: flex-end;


    &:hover {
      text-decoration: underline;
    }
  }
}

.header__menu-descktop {
  display: none;

  @include media-desktop {
    display: block;

    &--active {
      text-decoration: underline;
      background-color: red;
    }
  }
}
