.slider {
  @include media-tabl {
    position: relative;
  }
}

.slider__container {
  @include list-reset;

  @include media-desktop {
    margin-left: 104px;
    margin-right: 104px;
  }
}

.slider__card {
  text-align: center;

  margin-bottom: 40px;
}

.slider__img {
  width: 348px;
  height: 348px;

  margin-bottom: 20px;
}

.slider__title {
  margin-bottom: 16px;
}

.slider__text {
  margin-bottom: 16px;
}

.slider__price {
  @include font($size: 24px, $line-height: 125%, $weight: 600);
}

.slider__navigations {
  display: none;

  @include media-tabl {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.slider__nav {
  @include btn-reset;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $color-line-invert;

  cursor: pointer;
  transition: background-color 0.7s ease-out;

  &::after {
    @include bg-img(
      $url: url("../../img/icons/arrow-right.svg"),
      $mask-color: currentColor,
      $width: 24px,
      $height: 24px
    );
  }

  &--left::after {
    transform: rotate(180deg);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    @include focus-visible($bg-color: $color-accent, $outline: 2px);
  }

  &:hover {
    background-color: $color-bg-container;
  }

  &:hover::after {
    background-color: $color-bg;
  }
}

.slider__paginations {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.slider__pagination {
  @include btn-reset;

  background-color: $color-bg;
  width: 40px;
  height: 4px;
  border-radius: $btn-radius;
  background-color: $color-bg-container;

  cursor: pointer;
  transition: background-color 0.7s ease-out;

  &:disabled {
    background-color: $color-disabled;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible:not(:disabled) {
    @include focus-visible($outline: 2px);
  }

  &:hover:not(:disabled) {
    background-color: $color-accent;
  }

  &:active:not(:disabled) {
    background-color: $color-accent-50;
  }
}
