.title-hero {
  @include font(
    $size: 42px,
    $line-height: 115%,
    $weight: 600,
    $color: $color-invert
  );

  &--assent {
    color: $color-accent;
    font-style: italic;
  }

  @include media-tabl {
    font-size: 72px;
    line-height: 105px;
    letter-spacing: 0;
  }
}

.text-base {
  @include font($size: 16px, $line-height: 150%);

  &--assent {
    color: $color-accent;
  }
}

.title-section {
  @include font($size: 32px, $line-height: 125%, $weight: 600);

   &--invert {
    color: $color-invert;
   }

  &--assent {
    color: $color-accent;
    font-style: italic;
  }

  @include media-tabl {
    font-size: 60px;
  }
}

.title-card {
  @include font($size: 24px, $line-height: 125%, $weight: 600);
}

.text-caption {
    @include font($size: 10px, $line-height: 140%, $weight: 600);
}

.text-medium {
    @include font($size: 16px, $line-height: 150%, $weight: 600);
}

