// FONTS

$font-base: "Inter", arial, sans-serif;

// BORDER-RADIUS

$btn-radius: 100px;
$block-radius: 40px;
$about-radius: 20px;

// COLORS
$color-black: #000000;
$color-white: #ffffff;

// -------
$color-text: #403f39;
$color-invert: #e1d4c9;
$color-invert-80: rgba(225, 212, 201, 0.8);

$color-accent: #b0907a;
$color-accent-50: rgba(176, 144, 122, 0.5);


$color-bg: #e1d4c9;
$color-bg-dark: #292826;

$color-bg-container: #665f55;
$color-bg-container-60: rgba(102, 95, 85, 0.6);

$color-bg-container-dark: #403f3d;

$color-bg-overlay: rgba(64, 63, 61, 0.8);
$color-bg-overlay-dark: rgba(102, 95, 85, 0.8);

$color-line: #c1b6ad;
$color-line-invert: #665f55;


// // -------
// $color-overlay: rgba(49, 109, 194, 0.2); // 20%
// $color-overlay-bg: rgba(13, 29, 51, 0.4);

// -------
$color-disabled: #c1b6ad;
$color-error: #ff5e66;

// // WIDTH
$desktop-width: 1440px;
$tabl-width: 768px;
$mobile-width: 380px;
